<section id="taskdetails" class="container">
    <h1>Task Details</h1>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    {{#tasks}}
    <div class="jumbotron">
        <h1><center>{{title}}</center></h1>
        <p><center>{{description}}</center></p>
    </div>

    <div class="panel panel-success" align="center">
    <div class="panel-heading">
        <h3 class="panel-title">Initial Price Offering</h3>
    </div>
    <div class="panel-body">
        {{price}}
    </div>
    </div>
    {{/tasks}}

    <div class="row">
        <div class="col-xs-6">
            {{#lowestBidPrice}}
            <div class="panel panel-success" align="center">
            <div class="panel-heading">
                <h3 class="panel-title">Current Bid Offer</h3>
            </div>
            <div class="panel-body">
                {{min}}
            </div>
            </div>
            {{/lowestBidPrice}}
        </div>
        <div class="col-xs-6">
            {{#numBidders}}
            <div class="panel panel-success" align="center">
            <div class="panel-heading">
                <h3 class="panel-title">Number of Bidders</h3>
            </div>
            <div class="panel-body">
                {{count}}
            </div>
            </div>
            {{/numBidders}}
        </div>
    </div>
    

    <form action="/bid" method="post"></form>
        <div class="input-group">
            <span class="input-group-addon">$</span>
            <input type="text" class="form-control">
        </div>
        &NonBreakingSpace;
        <button type="submit" class="btn btn-reverse btn-lg btn-block">Place Bid</button>
    </form>
    &NonBreakingSpace;
    <div style="text-align:center" class="well">
        {{#tasks}}
        <h2>Estimated time required for task is {{timerequired}} hours.</h2>
        <h2>Number of Hires: {{manpower}}</h2>
        {{!-- <h2>Task will close in: taskTimer({{time}},{{opentime}})</h2> --}}
        <h2>created at: {{time}}</h2>
        <h2>Task is available for {{opentime}} hours.</h2>
        {{/tasks}}
    </div>

    
  </section>

<script>
    function taskTimer(string createdTime, int hoursToElapse) {
        // Set the date we're counting down to
        var countDownDate = new Date("2019-04-17 06:12:16.431944").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get todays date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
        // Output the result in an element with id="demo"
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
        + minutes + "m " + seconds + "s ";
            
        // If the count down is over, write some text 
        if (distance < 0) {
            clearInterval(x);
            // run transaction here
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
        }, 1000);
    }
</script>